body{
    border:2px double;
    height: 500px;
    width: 700px;
}
form{
    padding: 20px;
}
h1{
    color: rgb(14, 13, 13);
}
label{
    color: rgb(63, 55, 55);
}
form select{
    margin: 8px 0;
}
form label{
    display: inline-block;
    width:100px;
}
#s1,#s2{
   margin: 20px;
   height:30px;
   width: 70px;
   background-color: rgba(247, 44, 44, 0.788);
}
#d,#e,#f,#g{
    color: red;
    display: none;
}
.b1{
    margin: 20px;
}